{
  "parser": "babel-eslint",
  "extends": [
    "eslint-config-uber-es2015"
  ],
  "rules": {
    "guard-for-in": 0,
    "no-inline-comments": 0,
    "max-statements": 0,
    "no-multi-spaces": 0,
    "camelcase": 0
  }
}

